@(keywordsForm: Form[AllTranslations])

@import helper._
@import helper.twitterBootstrap._

@** *********************************************************************** **@
@** Helper for the view **@

@keywordField(field: Field, className: String = "keyword") = {
    @input(field, '_label -> "", '_class -> className) { (id, name, value, _) =>
           <input type="hidden" name="@name" value="@value"> 
               <li> @field.value
        <a class="removeKeyword btn">Remove</a>
        </li>
    }
}

@keywordFieldHidden(field: Field, className: String = "keyword") = {
    @input(field, '_label -> "", '_class -> className) { (id, name, value, _) =>
           <input type="hidden" name="@name" value="@value"> 
   }
}

@languageBlock(field: Field, className: String = "language") = {

@** Display the translations **@
@if(field("targetLanguage").value!=Some("Ignore")){
    <div class="clearfix @className">
        Results for the translation of @field("originalKeyword").value
        to @field("targetLanguage").value


        <a class="removeLanguage btn">Remove everything related to this translation</a>

        @inputText(
            field("targetLanguage"), 
            'style -> "display: none",
            '_label -> ""
        )


        @inputText(
            field("originalKeyword"), 
            'style -> "display: none",
            '_label -> ""
        )
         <div class="keywords">
         @println()
            @repeat(field("keywords"), min = 0) { keyword => @keywordField(keyword) }
            
            @** Hidden block that will be used as template for Javascript copy code **@
            @keywordField(field("keywords[x]"), className = "templ_keyword")
            
            
        </div>
</div>
        }
    
@** Display original keyword in a special manner **@

            @if(field("targetLanguage").value==Some("Ignore")){
                <div class="clearfix @className">
        Original Keyword : @field("originalKeyword").value
              @inputText(
            field("targetLanguage"), 
            'style -> "display: none",
            '_label -> ""
        )


        @inputText(
            field("originalKeyword"), 
            'style -> "display: none",
            '_label -> ""
        )
         <div class="keywords">
            @repeat(field("keywords"), min = 0) { keyword => @keywordFieldHidden(keyword) }
            
            @** Hidden block that will be used as template for Javascript copy code **@
            @keywordFieldHidden(field("keywords[x]"), className = "templ_keyword")
            
            
        </div>


        </div>
        }
}

@** *********************************************************************** **@
@** Actual display **@

@header("Tweet Aggregator")

    <h1>Remove inacurate translations</h1>
    @helper.form(action = setup.routes.Keywords.finalSubmission) {
        <div id="keywords">
        
            @repeat(keywordsForm("translations")) { language =>
                @languageBlock(language)
            }
         
  
    <div class="actions">
        <input type="submit" value="Start the search with those keywords!">
        <a href="@setup.routes.General.viewParams" class="btn">Cancel</a>
    </div>
      
  }
  
@** *********************************************************************** **@
@** Now we need to add some scripts **@
    
    <script type="text/javascript" charset="utf-8">
                    $('.removeLanguage').live('click', function(e) {
                        $(this).parents('.language').remove()
                        renumber()
                    })

                    $('.removeKeyword').live('click', function(e) {
                        var keywords = $(this).parents('.keywords')
                        $(this).parents('.keyword').remove()
                        renumber(keywords)
                    })

                    $('.addKeyword').live('click', function(e) {
                                var keywords = $(this).parents('.keywords')
                                var template = $('.templ_keyword', keywords)
                                template.before('<div class="clearfix keyword">' + template.html() + '</div>')
                                renumber(keywords)
                            })

                    $('.addLanguage').live('click', function(e) {
                                var template = $('.templ_language')
                                template.before('<div class="clearfix language">' + template.html() + '</div>')
                                renumber()
                            })

                var renumber = function(keywords) {
            $('.language').each(function(i) {
            $('input', this).each(function() {
                $(this).attr('name', $(this).attr('name').replace(/translations\[.+?\]/g, 'translations[' + i + ']'))
            })
          $('.keyword input', this).each(function(i) {
            $(this).attr('name', $(this).attr('name').replace(/keywords\[.+\]/g, 'keywords[' + i + ']'))
          })
          })
        }
                </script>
    
@footer()