@(viewCenter: String, mapZoom: Double, regionList: String, regionDensityList: String)

@header("Crosstalk")

		<div style="height:700px;">
      <div id="map" style="height:700px;float:left;width:85%;">
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
      	<script>
      		init(@Html(viewCenter), @mapZoom, @Html(regionList))
      	</script>
      </div>
      <div id="venns" class="venns" style="float:right;height:85%;width:14.5%;padding-left:5px;">
        <span>
          <p style="height:40px"><button onclick="drawRegion()">new region</button></p>
          <p style="height:40px"><button onclick="reset()">reset</button></p>
          @helper.form(action = setup.routes.Map.finalSubmission){
          	<input type="hidden" name="viewCenter" id="viewCenter" value="">
          	<input type="hidden" name="zoomLevel" id="zoomLevel" value="">
          	<input type="hidden" name="coordinates" id="coordinates" value=""> <!-- value is updated in tweetagg.js each time a region is drawn -->
          	<p style="height:40px"><button>Save areas</button></p>
          }
        </span>
      </div>
     </div>

@footer()