*.class
*.log
tweets/searcher*
tweets/tester*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/bin

# Scala-IDE specific
.scala_dependencies

# Eclipse
.classpath
.project
/.target
.cache
*.swp
*.swo
*.DS_Store

# Avoiding laText generation
*.aux
*.toc
*.pdf

# Avoiding the screenshots
sandbox/screenshots/*.jpg
