@(message: String)

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/polymaps.min.js")"></script>
    <!--script type="text/javascript" src="../../lib/nns/nns.js"></script-->

    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dform-1.1.0.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/polymaps.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tweetagg.css")">
  </head>
  
  <body>
    <div>
    <div id="top">
    <button onclick="nothing()">hi</button>
    </div>
      <div id="map" style="height:85%;float:left;width:85%;">
<!--         <script type="text/javascript" src="../../tweetagg.js"></script> -->
        <script src="@routes.Assets.at("javascripts/tweetagg.js")" type="text/javascript"></script>
        <span id="copy">
          &copy; 2010
          <a href="http://www.cloudmade.com/">CloudMade</a>,
          <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors,
          <a href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a>.
        </span>
      </div>
      <div id="venns" class="venns" style="float:right;height:85%;width:14.5%;padding-left:5px;">
        <span>
          <button onclick="drawRegion()">new region</button>
          <button onclick="reset()">reset</button>
         <form id="myform"></form>
          @helper.form(action = routes.Application.submit){

          <button >Launch</button>
          }

          <p id="myDiv">
           <script> update(); </script>
          </p>
        </span>
      </div>
    </div>
  </body>
</html>
