@(keywords : (String, String), viewCenter: (Double, Double), mapZoom: Double, richClusters:(List[Set[Cluster]], List[Set[Cluster]], List[Set[Cluster]]))
@import utils.Enrichments._

@header("Crosstalk - Clustered results")

    <div style="height:700px;">
      <div id="map" style="height:700px;float:left;width:85%;">
      <script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
      <script>
      
        var viewCenter = {lon: @viewCenter._1, lat: @viewCenter._2};
        console.log(JSON.stringify(viewCenter));

        var mapZoom = @mapZoom;
        
      	var rawData1 = @Html(richClusters._1.toJson);
      	var rawData2 = @Html(richClusters._2.toJson);
	      var rawData3 = @Html(richClusters._3.toJson);

        init(viewCenter, @mapZoom);
      </script>
      <script type="text/javascript" src="@routes.Assets.at("javascripts/clustering.js")"></script> 
    </div>
    <div style="float:right;height:85%;width:14.5%;padding-left:5px;">
      <span>
        <p style="color:#1f77b4;">@keywords._1</p>
        <p style="color:#ff7f0e;">@keywords._2</p>
        <p style="color:#C2AB93">Intersection</p>
        <p>Choose clustering level:</p>
        <form id="slider">
          <input id="zoomSlider" type="range" min="0" max="9" value="6" step="1" selectionDirection="none">
        </form>
      </span>
    </div>
    <di>
    
@footer()
