@(viewCenter: (Double, Double) , mapZoom: Double, regionDensityList: List[((Double, Double, Double, Double), Float)])(nbSet:Int, sets:List[(Int, String, Int)], inters:List[((Int, Int), Int)])

@header("Crosstalk")

	<div style="height:700px;">
      <div id="map" style="height:700px;float:left;width:85%;">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
        <script>
        //use "at HTML()" for escaping html code!
        var viewCenter = {lon: @viewCenter._1, lat: @viewCenter._2}
        @println(viewCenter)
        console.log(JSON.stringify(viewCenter))
        var regions = [ @for(region <- regionDensityList){ [{lon: @region._1._1, lat: @region._1._2}, {lon: @region._1._3, lat: @region._1._4}, @region._2], } ]
        @println(regionDensityList)
        console.log(JSON.stringify(regions))
        showRegionIntesity(viewCenter, @mapZoom, regions)
        </script>
      </div>
      <div style="float:right;height:85%;width:14.5%;padding-left:5px;">
        @venn(nbSet, sets, inters)
      </div>
   </div>
        
@footer()