@(viewCenter: (Double, Double) , mapZoom: Double, regionDensityList1: List[((Double, Double, Double, Double), Double)], regionDensityList2: List[((Double, Double, Double, Double), Double)], regionDensityList3: List[((Double, Double, Double, Double), Double)])(nbSet:Int, sets:List[(Int, String, Int)], inters:List[((Int, Int), Int)])

@import utils.Enrichments._

@header("Crosstalk - Standard results and Venn")

@if(getConfInt("recording.refreshRate", "Recording: no refresh rate specified.") != 0) {
	<META HTTP-EQUIV="refresh" CONTENT="@getConfInt("recording.refreshRate", "Recording: no refresh rate specified.")">
}
	<div style="height:700px;">
      <div id="map" style="height:700px;float:left;width:85%;">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
        <script>
		window.onload = function() {
			document.getElementsByClassName("main_content")[0].style.margin =  (0 + "px");
			
			var viewCenter = {lon: @viewCenter._1, lat: @viewCenter._2}
	        console.log(JSON.stringify(viewCenter))
	        
	        regions1 = [ @for(region <- regionDensityList1){ [{lon: @region._1._1, lat: @region._1._2}, {lon: @region._1._3, lat: @region._1._4}, @region._2], } ]
	        regions2 = [ @for(region <- regionDensityList2){ [{lon: @region._1._1, lat: @region._1._2}, {lon: @region._1._3, lat: @region._1._4}, @region._2], } ]
	        regions3 = [ @for(region <- regionDensityList3){ [{lon: @region._1._1, lat: @region._1._2}, {lon: @region._1._3, lat: @region._1._4}, @region._2], } ]
	        
	        mapReCenter(viewCenter, @mapZoom)
	        mapResult()
		}
        </script>

      </div>
      <div style="float:right;height:85%;width:14.5%;padding-left:5px;margin-top:20px;">
      <form method="get" action="#">
        <input type="hidden" name="fLong1" id="fLong1" value="">
        <input type="hidden" name="fLat1" id="fLat1" value="">
        <input type="hidden" name="fLong2" id="fLong2" value="">
        <input type="hidden" name="fLat2" id="fLat2" value="">
      	<input type="hidden" name="viewLong" id="viewLong" value="">
      	<input type="hidden" name="viewLat" id="viewLat" value="">
      	<input type="hidden" name="zoomLevel" id="zoomLevel" value="">
      	<button>Refresh</button>
      </form>
        @venn(nbSet, sets, inters)
        <input id="color1" type="checkbox" onchange="regionCheckbox(1, this)" checked="checked"><span style="color:#1f77b4;">@sets(0)._2: @sets(0)._3</span><br>
		<input id="color2" type="checkbox" onchange="regionCheckbox(2, this)"><span style="color:#ff7f0e;">@sets(1)._2: @sets(1)._3</span><br>
		<input id="color3" type="checkbox" onchange="regionCheckbox(3, this)"><span style="color:#C2AB93">Intersection: @inters(0)._2</span>
      </div>
   </div>
        
@footer()
