@(viewCenter: String, mapZoom: Double, regionList: String, regionDensityList: String)

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dform-1.1.0.js")"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/polymaps.min.js")"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/polymaps.css")">
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tweetagg.css")">
  </head>
  
  <body>
    <div>
    <div id="top">
    <button onclick="nothing()">hi</button>
    </div>
      <div id="map" style="height:85%;float:left;width:85%;">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
        <script>
            reload(@Html(viewCenter), @mapZoom, @Html(regionList))
        </script>
        <span id="copy">
          &copy; 2010
          <a href="http://www.cloudmade.com/">CloudMade</a>,
          <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors,
          <a href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a>.
        </span>
      </div>
      <div id="venns" class="venns" style="float:right;height:85%;width:14.5%;padding-left:5px;">
        <span>

          <p id="myDiv">
           
          </p>
        </span>
               <script src="http://d3js.org/d3.v2.min.js"></script>
        <script src="venn.js"></script>
<script>
// define sets and set set intersections
var sets = [{label: "A", size: 10}, {label: "B", size: 10}, {label: "C", size: 15}],
    overlaps = [{sets: [0,1], size: 2}, {sets: [1,2], size: 3}, {sets: [0,2], size: 1}];

// get positions for each set
sets = venn.venn(sets, overlaps);

// draw the diagram in the 'Venn' div
venn.drawD3Diagram(d3.select(".Venn"), sets, 300, 300);
</script>
      </div>
    </div>
  </body>
</html>
