@(viewCenter: String, mapZoom: Double)(implicit session: play.api.mvc.Session)
@header("Crosstalk")

<div style="height:700px;">
  <div id="map" style="height:700px;float:left;width:85%;">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
    <script>
       window.onload = function() {
         document.getElementsByClassName("main_content")[0].style.margin =  (0 + "px");
         mapReCenter(@Html(viewCenter), @mapZoom);
       }
     </script>
  </div>

  <div style="float:right;height:85%;width:14.5%;padding-left:5px;margin-top:20px;">
    <span><button onclick="drawRegion()">New area</button></span>
    <span><button onclick="reset()">Reset areas</button></span>

    @helper.form(action = routes.Gathering.GETstart) {
      <input type="text" name="keys1" placeholder="First keyword group" />
      <input type="text" name="keys2" placeholder="Second keyword group" />
      <!-- Coordintes value is updated in tweetagg.js each time a region is drawn -->
      <input type="hidden" name="coordinates" id="coordinates" value="" />
      <button>Submit</button>
    }
  </div>
</div>

@footer()
