@()

@header("Crosstalk")

<div style="height:100%;">
  <div id="map">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/tweetagg.js")"></script>
  </div>

  <div>
    <span><button onclick="drawRegion()">New area</button></span>
    <span><button onclick="reset()">Reset areas</button></span>

    @helper.form(action = routes.RESTfulGathering.GETstart) {
      <input type="text" name="keys1" placeholder="First keyword group" />
      <input type="text" name="keys2" placeholder="Second keyword group" />
      <!-- Coordintes value is updated in tweetagg.js each time a region is drawn -->
      <input type="hidden" name="coordinates" id="coordinates" value="" />
      <button>Submit</button>
    }
  </div>
</div>

@footer()
