@(contactForm: Form[AllTranslations])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Translation results
}

@phoneField(field: Field, className: String = "phone") = {
    @input(field, '_label -> "", '_class -> className) { (id, name, value, _) =>
           <input type="hidden" name="@name" value="@value"> 
               <li> <h5>@field.value
        <a class="removePhone btn danger">Remove</a></h5>
        </li>
    }
}
@informationGroup(field: Field, className: String = "profile") = {
    <div class="twipsies well @className">
        
        <a class="removeProfile btn danger pull-right">Remove this language</a>
        
 <h4>@field("keywords").value</h4>         
        <div class="keywords">

            @repeat(field("keywords"), min = 0) { phone =>
                
                @phoneField(phone)
    
            }
            
        </div>

    </div>
}

@main("summary") {
    
    @if(contactForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }
    
    @helper.form(action = routes.Keywords.finalSubmission) {
        
        
        <fieldset>
            <legend>Remove inacurate translations</legend>
            
            <div id="profiles">
            
                @repeat(contactForm("translations")) { information =>
                
                    @informationGroup(information)
                
                }
                
                @**
                 * Keep an hidden block that will be used as template for Javascript copy code
                 **@
                @informationGroup(
                    contactForm("translations[x]"),
                    className = "profile_template"
                )   
            </div>
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Start the search with those keywords!">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
    <script type="text/javascript" charset="utf-8">
        
        $('.removeProfile').live('click', function(e) {
            $(this).parents('.profile').remove()
            renumber()
        })
        
        $('.removePhone').live('click', function(e) {
            var keywords = $(this).parents('.keywords')
            $(this).parents('.phone').remove()
            renumber(keywords)
        })
        
        $('.addPhone').live('click', function(e) {
            var keywords = $(this).parents('.keywords')
            var template = $('.phone_template', keywords)
            template.before('<div class="clearfix phone">' + template.html() + '</div>')
            renumber(keywords)
        })
        
        $('.addProfile').live('click', function(e) {
            var template = $('.profile_template')
            template.before('<div class="twipsies well profile">' + template.html() + '</div>')
            renumber()
        })
        
        // -- renumber fields
        
        // Rename fields to have a coherent payload like:
        //
        // informations[0].label
        // informations[0].email
        // informations[0].keywords[0]
        // informations[0].keywords[1]
        // ...
        //
        // This is probably not the easiest way to do it. A jQuery plugin would help.
        
        var renumber = function(keywords) {
            $('.profile').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/informations\[.+?\]/g, 'informations[' + i + ']'))
                })
                $('.phone input', this).each(function(i) {
                    $(this).attr('name', $(this).attr('name').replace(/keywords\[.+\]/g, 'keywords[' + i + ']'))
                })
            })
        }
        
    </script>
    
}
